 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>document</title>
</head>

<body>
  <div class="container" *ngIf="task">
    <h2>Task Form</h2>
    <form #taskDetails="ngForm" (ngSubmit)="saveTask(task)">

      <div class="form-group col-md-12">
        <label>Task-Title</label>
        <input type="text" #v_title="ngModel" required class="form-control" name="title" [(ngModel)]="task.title">
      </div>

      <div class="form-group col-md-12">
        <label>Description</label>
        <input type="text" #v_description="ngModel" required class="form-control" name="description" [(ngModel)]="task.description">
      </div>

      <div class="submit"><input class="buttons" [disabled]="taskDetail.form.invalid" type="submit" value="submit"></div>
    </form>
  </div>
</body>
</html>
