<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div *ngIf="tasks.length ; else noData">
      <!-- <h2>Tasks</h2> -->
      <div class="list" *ngFor="let task of tasks; index as i">
        <span><h3>{{i+1}}</h3></span>
        <div (click)="details(task.id)" class="detail"><h3>{{task.title | titlecase}}</h3></div>
        <button class="buttons"><i (click)="updateTask(task.id)">&#x270d;</i> </button>
        <button class="buttons"><i (click)="delete(task.id, i)">&#x2718;</i></button>
      </div>
    </div>

    <ng-template #noData class="container hide">
      <h3 class="message"><span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      </span> You have nothing to show, Please add Tasks...!!</h3>
      <button class="buttons" routerLink="/addTask">Add</button>
    </ng-template>
  </div>
</body>
</html>