h3{
  padding: 30px;
  margin: auto;
  margin-top: 15px;
}
span{
  padding-right: 20px;
  padding-left:20px;
}
.list {
  display: flex;
  flex-flow: row;
  border-radius: 10px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: auto;
}
.list:hover {
  background: rgb(113, 118, 190);
  border-radius: 10px;
}
.container{
  margin: auto;
  margin-top: 2em;
  background-color:rgb(53, 53, 165);
  max-width: 800px;
  border-radius: 20px;
  color: white;
}
.buttons{
  padding: 1em;
  box-sizing:border-box;
  border-radius: 10px;
  display: flex;
  margin: auto;
  border-color: brown;
  justify-content: space-evenly;
  max-width: 300px;
  background-color: lightseagreen;
}
.detail{
  margin-left: 20px;
  width : 50%;
  text-align: center;
}
.message {
  text-align: center;
}
