.container {
  background-color: rgb(206, 151, 151);
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
}
h2 {
  padding: 1em;
  text-align: center;
}
label {
  margin: 20px;
  font-size: 20px;
}
.submit {
  display: flex;
  justify-content: space-evenly;
}
.buttons{
  padding: 12px;
  box-sizing:border-box;
  border-radius: 10px;
  background-color: lightseagreen;
  max-width: 200px;
  border-color: brown;
  margin: auto;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
input[type=text], select{
  width: 90%;
  padding: 12px 20px;
  margin: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid brown;
  border-radius: 5px;
}
input[type=text]:focus {
  border-bottom: 1px solid rgb(34, 228, 16);
}
  