.details {
    margin: auto;
    margin-top: 2em;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: rgb(17, 60, 139);
    color: white;
    max-width: 600px;
    min-height: auto;
}