/* You can add global styles to this file, and also import other style files */
.parent {
    background-image: url(src/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
  }